[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = NFS-Ganesha is an NFSv3,v4,v4.1 fileserver that runs in user mode on most UNIX/Linux systems
[access "refs/*"]
	owner = group user/MuYao Luo (luomuyao)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/MuYao Luo (luomuyao)
	label-Verified = -1..+1 group user/MuYao Luo (luomuyao)
	push = group user/MuYao Luo (luomuyao)
	read = group user/MuYao Luo (luomuyao)
	rebase = group user/MuYao Luo (luomuyao)
	removeReviewer = group user/MuYao Luo (luomuyao)
	submit = group user/MuYao Luo (luomuyao)
[access "refs/heads/*"]
	create = group user/MuYao Luo (luomuyao)
	push = +force group user/MuYao Luo (luomuyao)
	pushMerge = group user/MuYao Luo (luomuyao)
	read = group user/MuYao Luo (luomuyao)
[access "refs/tags/*"]
	push = group user/MuYao Luo (luomuyao)
	push = +force group user/MuYao Luo (luomuyao)
